body{
	background-color : #222;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*text-align: center;*/
}

canvas{
	position : absolute;
	margin-left: 10%;
    width: 80%;

}

#chargement{
	font-size : 200px;
	color : #eee;
	width : 100%;
	text-align: center;
	position: absolute;

}